{% extends "base.html" %}

{% block content %}
    <h1>Пользователи</h1>
    <p>
        {% for i in range(0, 5 if page_number > 6 else 0) %}
            <a class="alert-btn btn-link" href="/admin/{{ i }}">
                {{ i + 1 }}
            </a>
        {% endfor %}
        {% if page_number > 6 %}
            ...
        {% endif %}
        {% for i in range(page_number - 5 if (page_number - 5 > 0) else 0, page_number + 5 if (page_number + 5 < max_page_number) else max_page_number) %}
            <a class="alert-btn btn-link" href="/admin/{{ i }}">
                {{ i + 1 }}
            </a>
        {% endfor %}
        ...
        {% for i in range(max_page_number - 3, max_page_number) %}
            <a class="alert-btn btn-link" href="/admin/{{ i }}">
                {{ i + 1 }}
            </a>
        {% endfor %}
    </p>
    <h2>Поиск пользователей по параметрам</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.nickname.label }}<br>
            {{ form.nickname(class="form-control") }}<br>
            {% for error in form.nickname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating(class="form-control") }}<br>
            {% for error in form.rating.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.matches_number.label }}<br>
            {{ form.matches_number(class="form-control") }}<br>
            {% for error in form.matches_number.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </form>
    <table>
    {% for nickname, raitng, matches_number, login, id in rating_list %}
        <tr>
            <td>
                <div class="alert alert-info" role="alert">
                    <strong>Ник</strong> - {{ nickname }}<br>
                    <strong>Логин</strong> - {{ login }} <br>
                    <strong>Количество матчей</strong> - {{ matches_number }} <br>
                    <strong>Рейтинг</strong> - {{ raitng }}
                    <strong>Место в рейтинге {{ loop.index + page_number * 20 }}</strong><br>
                    <div>
                        <a class="btn btn-warning" href="/edit/{{ id }}">Изменить</a>
                        <a class="btn btn-danger" href="/delete/{{ id }}">Удалить</a>
                    </div>

                </div>

            </td>
        </tr>
    {% endfor %}

{% endblock %}
