<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
            <div><a class="btn btn-info" href="/personal_page">личная страница</a>
                {% if request.path != '/' %}
                <a class="btn btn-success" href="/">На главную</a>
                    {% endif %}</div>

            <div class="alert alert-success" role="alert">
                {{ current_user.nickname }}, вы выполнили вход.
            </div>
            <div></div>
            <a class="btn btn-warning" href="/logout">Выйти</a>
        {% else %}
            <p>
                <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
                {% if request.path != '/' %}
                <a class="btn btn-success" href="/">На главную</a>
                    {% endif %}
            </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>