{% extends "base.html" %}

{% block content %}
    {% if not current_user.is_authenticated %}
        <div class="alert alert-danger" role="alert">
            Вы не авторизированы!
        </div>
    {% else %}
        <table>
            <tr>
                <td>
                    <div class="alert alert-info" role="alert">
                        <strong>Ник</strong> - {{ current_user.nickname }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="alert alert-info" role="alert">
                        <strong>Логин</strong> - {{ current_user.login }}
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="alert alert-info" role="alert">
                        <strong>Рейтинг</strong> - {{ current_user.rating }}
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <div class="alert alert-info" role="alert">
                        <strong>Количество матчей</strong> - {{ current_user.matches_number }}
                    </div>
                </td>

            </tr>


            {% if current_user.is_admin %}
                <tr>
                    <td>
                        <a class="btn btn-success" href="/admin">Войти в админку</a>
                    </td>
                </tr>
            {% endif %}


        </table>
        {% if user_game_list %}
            <h1>Последние игры:</h1>
            {% for game, rounds_list in user_game_list %}
                <div class="alert alert-dark" role="alert">
                    id игры - {{ game.id }} <br>
                    Дата игры - {{ game.modifed_date }} <br>
                <div class="alert alert-warning" role="alert">
                    Результат за все раунды - {{ game.rating }}
                       </div>

                    {% for round in rounds_list %}
                        <div class="alert alert-primary" role="alert">
                        <div class="alert alert-success" role="alert">
                            Рейтинг полученный за раунд - {{ round.rating }}
                        </div>
                        <a class="alert-btn btn-link"
                           href="https://yandex.ru/maps/?ll={{ round.start_point }}&z=13">
                            Точка выбранная игрой - {{ round.start_point }}
                        </a><br>
                        <a class="alert-btn btn-link"
                           href="https://yandex.ru/maps/?ll={{ round.user_input_point }}&z=13">
                            Точка выбранная Вами - {{ round.user_input_point }}
                        </a><br>
                        </div>

                    {% endfor %}
                  </div>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}